<h1>Tipo de banners</h1>
<h3><span><%= link_to 'Novo tipo', new_tipo_banner_path if logged_in? %></span></h3>
<br />
<div id="table4">
    <table width="100%">
      <tr>
        <th>Nome</th>
        <th align="center">
            <% if logged_in? %>
                Opções
            <% else %>
               Opção
            <% end %>
        </th>
      </tr>

    <% @tipo_banners.each do |tipo_banner| %>
      <tr>
        <td><%=h tipo_banner.nome %></td>
        
        <td align="center">
            <%= link_to image_tag('icons/web/visualizar.png',:border => 0, :title => 'Visualizar'), tipo_banner %> 
            <% if logged_in? %>
                &nbsp;<%= link_to image_tag('icons/web/editar.png',:border => 0,:title => 'Editar'), edit_tipo_banner_path(tipo_banner) %>
                &nbsp;<%= link_to image_tag('icons/web/apagar.png', :border => 0, :title => 'Apagar'), tipo_banner, :confirm => 'Are you sure?', :method => :delete %>
            <% end %>
        </td>
      </tr>
    <% end %>
    </table>
</div>

<br />

