<h1>Produto</h1>
<h4>
    <span>
        <%= link_to image_tag('icons/web/editar.png',:border => 0,:title => 'Editar'), edit_produto_path(@produto)  if logged_in? %>
        &nbsp;<%= link_to image_tag('icons/web/voltar.png',:border => 0, :title => 'Voltar'), produtos_path %>
    </span>
</h4>
<p>
  <b>Nome:</b>
  <%=h @produto.nome %>
</p>

<p>
  <b>Descrição:</b>
  <%= @produto.descricacao %>
</p>

<p>
  <b>Marca:</b>
  <%=h @produto.marca.nome if @produto.marca_id? %>
</p>

<p>
  <b>Foto:</b>
  <%=image_tag @produto.foto.url(:grande), :title => @produto.nome %>
</p>

<p><b>Categorias:</b>
	<ul>
		<% @produto.categorias.each do |c| %>
			<li><%= c.nome %></li>
		<% end%>
	</ul>
</p>
