<h1>Editar usuário</h1>
<br />
<%= error_messages_for :usuario %>
<% form_for @usuario do |f| -%>
<p><%= f.label 'nome'%><br />
<%= f.text_field :name %></p>
<p><%= f.label 'usuario' %><br/>
<%= f.text_field :login %></p>

<p><%= f.label :email %><br/>
<%= f.text_field :email %></p>

<p><%= submit_tag 'Salvar' %></p>
<% end -%>
