<% form_for(@mapa) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </p>
  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>
  <p>
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
